<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Drive Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="/home">
            <img src="https://www.edriving.com/wp-content/uploads/2019/08/icon_e.png" width="30" height="30"
                class="d-inline-block align-top" alt="">
            edriving
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add</a>
                </li>
                <% if (userName===undefined || userName===null) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Login <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <% } else { %>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/am-a-19-year-old-multimedia-artist-student-from-manila--21.png" width="30" height="30"
                                    class="d-inline-block align-top" alt="">
                                <%= userName %><span class="sr-only">(current)</span>
                            </a>
                            <!-- <a class="nav-link" href="#">
                                            <%= userName %> <span class="sr-only">(current)</span>
                                        </a> -->
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                        <% } %>
            </ul>

        </div>
    </nav>